# Dependencias principales
requests>=2.31.0
beautifulsoup4>=4.12.0

# Para Selenium (análisis de reseñas v2)
selenium>=4.15.0

# Para Export a Excel
pandas>=2.1.0
openpyxl>=3.1.2

# Para Dashboard
streamlit>=1.28.0
plotly>=5.17.0

# Para Chatbot IA (v4.0)
groq>=0.4.0

